@import "tailwindcss";

@keyframes fade-slide-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-slide-down {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.animate-fade-slide-up {
    animation: fade-slide-up 0.5s ease-out forwards;
}

.animate-fade-slide-down {
    animation: fade-slide-down 0.5s ease-out forwards;
}