---
import ContactPanel from "../../components/ContactPanel.astro";
import Nav from "../../components/Nav.astro";
import SectionTitle from "../../components/SectionTitle.astro";
import StaffPageCard from "../../components/StaffPageCard.astro";
import StaffPageTitle from "../../components/StaffPageTitle.astro";
import breuerImage from "../../img/david.jpg";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="David Breuer | Our Partners | Breuer Herskowitz LLP Attorneys at Law">
    <main>
        <Nav />
        <StaffPageTitle
            name="David Breuer"
            position="Partner"
            phone="+1 (123) 456-7890"
            email="test@example.com"
            linkedin="https://linkedin.com/"

        />
        <section class="bg-gray-50 py-12 px-4 md:px-0">
            <div class="max-w-4xl mx-auto my-8 px-4 md:px-0">
                <StaffPageCard
                    content="<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi veritatis saepe doloremque placeat quas aperiam, vero est laudantium, alias dignissimos ipsam sed rerum iusto perspiciatis unde nesciunt veniam soluta perferendis ut temporibus! Sequi corrupti neque, pariatur dicta repellat error suscipit, nemo illum vitae voluptatibus veniam fuga, quis quaerat fugiat eligendi explicabo aspernatur nulla! Exercitationem id harum quam delectus! Sunt deleniti dicta magni omnis incidunt soluta cupiditate assumenda, error ab fugit deserunt est odio minima porro fuga eligendi at molestias sint voluptatem asperiores dolore illo. </p><p>Doloribus, odit minima, dignissimos illum repellendus eveniet voluptate nesciunt veniam quasi omnis iusto neque labore atque architecto nemo laudantium iure. Fugiat earum harum sed accusamus at reprehenderit maiores, adipisci ratione enim veniam omnis inventore odio pariatur odit est, possimus, recusandae corporis eos nihil impedit tenetur! Sunt sed corporis voluptate dolorum ullam culpa ex ad, quis impedit? Delectus deleniti quaerat quisquam eos ipsam accusantium veritatis vitae soluta.</p>"
                    image={breuerImage}
                />
            </div>
        </section>
        <section class="max-w-4xl mx-auto my-8 px-4 md:px-0">
            <div class="max-w-4xl mx-auto">
                <SectionTitle title="Contact Us" titleColor="text-gray-100" />
                <ContactPanel />
            </div>
        </section>
    </main>
</Layout>
