---
import ContactPanel from "../components/ContactPanel.astro";
import Nav from "../components/Nav.astro";
import PageTitle from "../components/PageTitle.astro";
import SectionTitle from "../components/SectionTitle.astro";
import TimeLine from "../components/TimeLine.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us | Breuer Herskowitz LLP Attorneys at Law">
    <main>
        <Nav />
        <PageTitle title="About Us" />
        <section class="bg-gray-50 py-12 px-4">
            <div class="max-w-4xl mx-auto">
                <p class="px-4">Whether it's buying your own home or selling a property, our team of experienced and knowledgeable real estate attorneys will guide you through the process. Our team has the knowledge, resources, and connections to help you achieve your goals and plan for the future. We guide our clients through the process from beginning to end, addressing any questions and concerns that come up along the way. Across practice areas, we aim to provide creative solutions to help our clients navigate the nuances of complex transactions.</p>

                <p class="p-4">We represent owners, lenders, investors and other stakeholders in a diverse range of activities, servicing the greater New York City area including all its boroughs as well as Long Island and upstate New York.</p>
            </div>
        </section>
        <TimeLine />
        <section class="max-w-4xl mx-auto my-8 px-4 flex justify-center">
            <a href="/team/" class="text-4xl font-semibold text-gray-100 border border-gray-200 px-4 py-2 uppercase hover:bg-gray-200 hover:text-gray-900 hover:scale-105 transition duration-150">Meet the team</a>
        </section>
        <section class="bg-gray-50 py-12 px-4">
            <div class="max-w-4xl mx-auto">
                <SectionTitle title="Contact Us" titleColor="text-gray-800" />
                <ContactPanel />
            </div>
        </section>
    </main>
</Layout>
