---
import ContactPanel from "../components/ContactPanel.astro";
import Nav from "../components/Nav.astro";
import PageTitle from "../components/PageTitle.astro";
import SectionTitle from "../components/SectionTitle.astro";
import TimeLine from "../components/TimeLine.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us | Breuer Herskowitz LLP Attorneys at Law">
    <main>
        <Nav />
        <PageTitle title="About Us" />
        <section class="bg-gray-50 py-12 px-4">
            <div class="max-w-4xl mx-auto space-y-4">
                <p>Welcome to Breuer Herskowitz LLP, your trusted partner in real estate law. Whether you're embarking on the journey of homeownership or navigating property transactions, our seasoned team of real estate attorneys is here to be your guide. Backed by extensive knowledge, robust resources, and strategic connections, we are dedicated to helping you achieve your goals and plan for a secure future.</p>
                <p>From the inception of your real estate journey to its successful conclusion, we provide unwavering support, addressing any questions or concerns that may arise along the way. Our commitment extends across various practice areas, where we offer innovative solutions to navigate the intricacies of complex transactions.</p>
                <p>At Breuer Herskowitz LLP, we proudly represent a diverse clientele, including owners, lenders, investors, and other stakeholders. Servicing the greater New York City area, encompassing all its boroughs, as well as Long Island and upstate New York, our team is well-equipped to handle a broad spectrum of real estate activities.</p>
            </div>
        </section>
        <TimeLine />
        <section class="max-w-4xl mx-auto my-8 px-4 flex justify-center">
            <a href="/team/" class="text-4xl font-semibold text-gray-100 border border-gray-200 px-4 py-2 uppercase hover:bg-gray-200 hover:text-gray-900 hover:scale-105 transition duration-150">Meet the team</a>
        </section>
        <section class="bg-gray-50 py-12 px-4">
            <div class="max-w-4xl mx-auto">
                <SectionTitle title="Contact Us" titleColor="text-gray-800" />
                <ContactPanel />
            </div>
        </section>
    </main>
</Layout>
