---
import ContactPanel from "../components/ContactPanel.astro";
import Nav from "../components/Nav.astro";
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Us | Breuer Herskowitz LLP Attorneys at Law">
    <main>
        <Nav />
        <PageTitle title="Contact Us" />
        <section class="bg-gray-50 py-12 px-4">
            <div class="max-w-4xl mx-auto">
                Reach out to Breuer Herskowitz LLP for dedicated legal assistance in real estate law and estate planning. Our team is ready to address your needs and guide you through every step of your legal journey. Contact us today to learn how we can assist you in achieving your goals.
            </div>
        </section>

        <ContactPanel />
    </main>
</Layout>
