---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import PageTitle from "../components/PageTitle.astro";
import ContactPanel from "../components/ContactPanel.astro";
---

<Layout title="Contact Us | Breuer Herskowitz LLP Attorneys at Law">
    <main>
        <Nav />
        <PageTitle title="Contact Us" />
        <section class="bg-gray-50 py-12 px-4">
            <div class="max-w-4xl mx-auto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae veniam laboriosam enim
                accusantium? Deleniti praesentium provident consequuntur neque explicabo nostrum? Aut, sed neque,
                sapiente cum repellat enim architecto magnam nemo reprehenderit, corrupti optio quas quod a non ab nulla
                delectus vel! Voluptatibus dolores quidem expedita aut placeat ad quaerat.
            </div>
        </section>

        <ContactPanel />
    </main>
</Layout>
