---
import ContactPanel from "../components/ContactPanel.astro";
import Nav from "../components/Nav.astro";
import SectionTitle from "../components/SectionTitle.astro";
import ServiceItem from "../components/ServiceItem.astro";
import Layout from "../layouts/Layout.astro";
import cityscape1280 from "/img/cityscape1280.mp4";
---

<Layout title="Breuer Herskowitz LLP Attorneys at Law.">
    <main>
        <section class="flex justify-center items-center flex-col h-screen overflow-hidden">
            <video
                autoplay
                loop
                muted
                class="w-auto min-w-full min-h-full max-h-full absolute object-cover brightness-50"
            >
                <source src={cityscape1280} type="video/mp4" />
                Your browser does not support the video tag.
            </video>

            <h1 class="m-0 text-6xl md:text-9xl flex flex-col font-sans font-semibold z-10">
                <span class="text-gray-300">Breuer</span>
                <span class="text-orange-600">Herskowitz</span>
                <span class="text-slate-500">LLP</span>
                <span class="text-4xl ml-2 text-gray-200">Attorneys at Law</span>
            </h1>
        </section>

        <Nav />

        <section class="bg-gray-100">
            <div class="max-w-4xl mx-auto py-10">
                <p class="px-4">Whether it's buying your own home or selling a property, our team of experienced and knowledgeable real estate attorneys will guide you through the process. Our team has the knowledge, resources, and connections to help you achieve your goals and plan for the future. We guide our clients through the process from beginning to end, addressing any questions and concerns that come up along the way. Across practice areas, we aim to provide creative solutions to help our clients navigate the nuances of complex transactions.</p>

                <p class="p-4">We represent owners, lenders, investors and other stakeholders in a diverse range of activities, servicing the greater New York City area including all its boroughs as well as Long Island and upstate New York.</p>
            </div>
        </section>

        <section class="max-w-4xl md:mx-auto my-8 md:my-12 px-4 m-4 md:m-0 md:px-0">
            <SectionTitle title="Areas of Practice" />
            <div class="grid grid-cols-1 md:grid-cols-2">
                <ServiceItem
                    title="Residential Real Estate"
                    content="Our experienced team will guide you through your real estate closings, ensuring all contracts are negotiated efficiently and all files close in a seamless and timely manner. We have particular experience including purchases and sales, covering joint ownership arrangements, condominiums, cooperatives and tenancies-in-common and like-kind 1031 exchanges."
                />
                <ServiceItem
                    title="Commercial Real Estate"
                    content="Our firm handles all aspects of commercial real estate transactions, from letters of intent through closing and post-closing matters. We specialize in smaller family-owned and startup real estate businesses."
                />
                <ServiceItem
                    title="Estate Planning"
                    content="Let us help you protect your assets, plan for your future, and decide how they should be distributed to your heirs through proper estate planning. Our firm can advise and assist you with setting up trusts and handling other estate planning needs. From how state and federal laws can affect your plans, to advising you on estate planning strategies, our firm can explore what options are available that best fit your goals."
                />
                <ServiceItem
                    title="Real Estate Financing"
                    content="Breuer Herskowitz specializes in the representation of both lenders and borrowers in various loan transactions. Our attorneys have broad experience handling closings on behalf of lending institutions in New York, working with various parties to ensure smooth and efficient transactions. In addition to representing institutional and lenders, we represent our real estate clients in a wide variety of personal financing transactions."
                />
            </div>
        </section>

        <section class="bg-gray-50 py-12 px-4">
            <div class="max-w-4xl mx-auto">
                <SectionTitle title="Contact Us" titleColor="text-gray-800" />
                <ContactPanel />
            </div>
        </section>
    </main>
</Layout>

<style>
    :root {
        --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
    }

    .text-gradient {
        font-weight: 900;
        background-image: var(--astro-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100% 200%;
        background-position-y: 100%;
        border-radius: 0.4rem;
        animation: pulse 4s ease-in-out infinite;
    }

    @keyframes pulse {
        0%,
        100% {
            background-position-y: 0%;
        }
        50% {
            background-position-y: 80%;
        }
    }

    .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        background: #4f39fa;
        padding: 1rem;
        border-radius: 0.4rem;
        color: var(--color-bg);
    }

    .instructions code {
        font-size: 0.875em;
        border: 0.1em solid var(--color-border);
        border-radius: 4px;
        padding: 0.15em 0.25em;
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
