---
import ContactPanel from "../components/ContactPanel.astro";
import Nav from "../components/Nav.astro";
import PageTitle from "../components/PageTitle.astro";
import SectionTitle from "../components/SectionTitle.astro";
import ServiceItem from "../components/ServiceItem.astro";
import Layout from "../layouts/Layout.astro";

import { services } from "../services.js";
---

<Layout title="Areas of Practice | Breuer Herskowitz LLP Attorneys at Law">
  {services}
  <main>
    <Nav />
    <PageTitle title="Areas of Practice" />
    <section class="bg-gray-50 py-12 px-4 md:px-0">
      <div class="max-w-4xl mx-auto">
        At Breuer Herskowitz LLP, we specialize in Residential and Commercial
        Real Estate, offering expert guidance in real estate transactions,
        Estate Planning to safeguard assets and plan for the future, and Real
        Estate Financing, representing both lenders and borrowers in diverse
        loan transactions.
      </div>
    </section>

    <section class="max-w-4xl mx-auto my-12">
      <div class="m-4 md:m-0 space-y-4">
        {
          services &&
            services.map((service, i) => (
              <div
                class="opacity-0 animate-fade-slide-up"
                style={`animation-delay: ${i * 300}ms; animation-fill-mode: forwards;`}
              >
                <ServiceItem title={service.title} content={service.content} />
              </div>
            ))
        }
      </div>
    </section>
    <section class="bg-gray-50 py-12 px-4">
      <div class="max-w-4xl mx-auto">
        <SectionTitle title="Contact Us" titleColor="text-gray-800" />
        <ContactPanel />
      </div>
    </section>
  </main>
</Layout>
