---
import Nav from "../components/Nav.astro";
import PageTitle from "../components/PageTitle.astro";
import ServiceItem from "../components/ServiceItem.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Areas of Practice | Breuer Herskowitz LLP Attorneys at Law">
    <main>
        <Nav />
        <PageTitle title="Areas of Practice" />
        <section class="bg-gray-50 py-12 px-4">
            <div class="max-w-4xl mx-auto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae veniam laboriosam enim
                accusantium? Deleniti praesentium provident consequuntur neque explicabo nostrum? Aut, sed neque,
                sapiente cum repellat enim architecto magnam nemo reprehenderit, corrupti optio quas quod a non ab nulla
                delectus vel! Voluptatibus dolores quidem expedita aut placeat ad quaerat.
            </div>
        </section>

        <section class="max-w-4xl mx-auto my-12 px-4">
            <div class="grid grid-cols-2">
                <ServiceItem
                    title="Residential Real Estate"
                    content="Our experienced team will guide you through your real estate closings, ensuring all contracts are negotiated efficiently and all files close in a seamless and timely manner. We have particular experience including purchases and sales, covering joint ownership arrangements, condominiums, cooperatives and tenancies-in-common and like-kind 1031 exchanges."
                />
                <ServiceItem
                    title="Commercial Real Estate"
                    content="Our firm handles all aspects of commercial real estate transactions, from letters of intent through closing and post-closing matters. We specialize in smaller family-owned and startup real estate businesses."
                />
                <ServiceItem
                    title="Estate Planning"
                    content="Let us help you protect your assets, plan for your future, and decide how they should be distributed to your heirs through proper estate planning. Our firm can advise and assist you with setting up trusts and handling other estate planning needs. From how state and federal laws can affect your plans, to advising you on estate planning strategies, our firm can explore what options are available that best fit your goals."
                />
                <ServiceItem
                    title="Real Estate Financing"
                    content="Breuer Herskowitz specializes in the representation of both lenders and borrowers in various loan transactions. Our attorneys have broad experience handling closings on behalf of lending institutions in New York, working with various parties to ensure smooth and efficient transactions. In addition to representing institutional and lenders, we represent our real estate clients in a wide variety of personal financing transactions."
                />
            </div>
        </section>
    </main>
</Layout>
