---
import ContactPanel from "../components/ContactPanel.astro";
import InfoCard from "../components/InfoCard.astro";
import Nav from "../components/Nav.astro";
import PageTitle from "../components/PageTitle.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our Partners | Breuer Herskowitz LLP Attorneys at Law">
    <main>
        <Nav />
        <PageTitle title="Our Team" />
        <section class="bg-gray-50 py-12 px-4">
            <div class="max-w-4xl mx-auto space-y-4">
                <p>
                    At Breuer Herskowitz LLP, our team brings a wealth of
                    experience and a deep commitment to excellence in real
                    estate law. Each partner embodies our firm's values of
                    integrity, diligence, and innovation. Their extensive
                    knowledge in residential and commercial real estate, estate
                    planning, and real estate financing ensures that our clients
                    receive comprehensive legal advice tailored to their unique
                    needs.
                </p><p>
                    Our partners lead a team of dedicated attorneys who
                    collaborate to deliver results that not only meet but exceed
                    our clients' expectations. With a strong focus on the New
                    York City area, our partners are well-versed in the
                    intricacies of the local market, providing valuable insights
                    and strategies to navigate the complexities of real estate
                    transactions and estate planning in this dynamic region.
                </p>
            </div>
        </section>
        <section class="max-w-4xl mx-auto my-8 space-y-10">
            <div>
                <div class="text-6xl font-semibold text-gray-100">
                    Partners
                </div>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                    <InfoCard
                        name="David Breuer"
                        title="Partner"
                        partner_link="/partners/david-breuer"
                        email="david@bhllplaw.com"
                        linkedin="https://linkedin.com/"
                    />
                    <InfoCard
                        name="Jason Herskowitz"
                        title="Partner"
                        partner_link="/partners/jason-herskowitz"
                        email="jason@bhllplaw.com"
                        linkedin="https://linkedin.com/"
                    />
                    <InfoCard
                        name="Dan Weinberger"
                        title="Partner"
                        partner_link="/partners/dan-weinberger"
                        email="dan@bhllplaw.com"
                        linkedin="https://linkedin.com/"
                    />
                </div>
            </div>
            <div>
                <div class="text-6xl font-semibold text-gray-100">
                    Associates
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                    <InfoCard
                        name="David Breuer"
                        title="Partner"
                        partner_link="/partners/david-breuer"
                        email="david@bhllplaw.com"
                        linkedin="https://linkedin.com/"
                    />
                    <InfoCard
                        name="Jason Herskowitz"
                        title="Partner"
                        partner_link="/partners/jason-herskowitz"
                        email="jason@bhllplaw.com"
                        linkedin="https://linkedin.com/"
                    />
                </div>
            </div>
            <div>
                <div class="text-6xl font-semibold text-gray-100">
                    Paralegals
                </div>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                    <InfoCard
                        name="David Breuer"
                        title="Partner"
                        partner_link="/partners/david-breuer"
                        email="david@bhllplaw.com"
                        linkedin="https://linkedin.com/"
                    />
                    <InfoCard
                        name="Jason Herskowitz"
                        title="Partner"
                        partner_link="/partners/jason-herskowitz"
                        email="jason@bhllplaw.com"
                        linkedin="https://linkedin.com/"
                    />
                    <InfoCard
                        name="Jason Herskowitz"
                        title="Partner"
                        partner_link="/partners/jason-herskowitz"
                        email="jason@bhllplaw.com"
                        linkedin="https://linkedin.com/"
                    />
                </div>
            </div>
        </section>
        <section class="bg-gray-50 py-12 px-4">
            <div class="max-w-4xl mx-auto">
                <SectionTitle title="Contact Us" titleColor="text-gray-800" />
                <ContactPanel />
            </div>
        </section>
    </main>
</Layout>
