---
import Link from "../components/NavLink.astro";
---

<nav
    class="sticky top-0 z-40 flex-none mx-auto w-full bg-white/90 dark:bg-slate-900/90 backdrop-blur-sm border-b dark:border-b-0 -mt-14 py-4 flex justify-between"
>
    <span class="text-gray-100 font-semibold text-lg px-4 w-52">
        <a href="/"
            ><img src="img/logo-inline.jpg" alt="Breuer Herskowitz LLP" />
        </a>
    </span>
    <span>
        <Link href="/" title="Home" />
        <Link href="/about" title="About Us" />
        <Link href="/practice" title="Areas of Practice" />
        <Link href="/partners" title="Our Partners" />
        <Link href="/contact" title="Contact Us" />
    </span>
</nav>
