---
export interface Props {
    title: string;
    href: string;
}

const { href, title } = Astro.props as Props;
---

<a
    class="text-sm font-semibold lg:mx-2 md:px-2 px-4 py-2 hover:bg-slate-800 rounded-sm text-gray-100 transition duration-200 block md:inline"
    href={href}
    >{title}
</a>
