---
export interface Props {
    content: string;
    linkedin: string;
    email: string;
    image: any;
}

const { content, linkedin, email, image } =
    Astro.props as Props;
import { Image } from 'astro:assets';
---

<div
    class="bg-gray-50 rounded-sm shadow-md mt-8 flex scroll-my-20 overflow-hidden flex-col md:flex-row"
>
    <div class="min-h-max md:w-1/3">
        <Image src={image} alt="Contact Section Image" class="object-cover h-full"/>
    </div>

    <div class="md:w-2/3 p-4">
        <div class="text-sm text-gray-600 pb-4 space-y-4" set:html={content}>
        </div>
        <div class="flex gap-2">
            <a
                href={"mailto:" + email}
                target="_blank"
                rel="noopener noreferrer"
                class="bg-gray-200 p-1 rounded-sm hover:bg-gray-300 transition duration-200"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-mail"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke="#2c3e50"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path d="M0 0h24v24H0z" stroke="none"></path><rect
                        x="3"
                        y="5"
                        width="18"
                        height="14"
                        rx="2"></rect><path d="m3 7 9 6 9-6"></path>
                </svg>
            </a>
            <a
                href={linkedin}
                target="_blank"
                rel="noopener noreferrer"
                class="bg-gray-200 p-1 rounded-sm hover:bg-gray-300 transition duration-200"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-brand-linkedin"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke="#2c3e50"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path d="M0 0h24v24H0z" stroke="none"></path><rect
                        x="4"
                        y="4"
                        width="16"
                        height="16"
                        rx="2"></rect><path
                        d="M8 11v5M8 8v.01M12 16v-5M16 16v-3a2 2 0 0 0-4 0"
                    ></path>
                </svg>
            </a>
        </div>
    </div>
</div>

<style>
    .btn {
        overflow: hidden;
        max-width: 5.5rem;
        transition: all 0.5s ease-in-out;
        white-space: nowrap;
    }
    .btn:hover {
        max-width: 20rem;
        transition: all 0.5s ease-in-out;
    }
</style>
