---
export interface Props {
    content: string;
    image: any;
}

const { content, image } =
    Astro.props as Props;
import { Image } from 'astro:assets';
---

<div
    class="bg-gray-50 rounded-sm shadow-md mt-8 flex scroll-my-20 overflow-hidden flex-col md:flex-row"
>
    <div class="min-h-max md:w-1/3">
        <Image src={image} alt="Contact Section Image" class="object-cover h-full"/>
    </div>

    <div class="md:w-2/3 p-4">
        <div class="text-sm text-gray-600 pb-4 space-y-4" set:html={content}>
        </div>
    </div>
</div>

<style>
    .btn {
        overflow: hidden;
        max-width: 5.5rem;
        transition: all 0.5s ease-in-out;
        white-space: nowrap;
    }
    .btn:hover {
        max-width: 20rem;
        transition: all 0.5s ease-in-out;
    }
</style>
