---
export interface Props {
    name: string;
    position: string;
    phone: string;
    email: string;
    linkedin: string;
}

const { name, position, phone, email, linkedin } = Astro.props as Props;
---

<section
    class="relative md:mt-14 py-14 font-semibold text-gray-100 bg-[url('/img/page-title-bg.jpg')] bg-cover bg-center"
>
    <div class="absolute w-full h-full bg-slate-900 opacity-80 top-0"></div>
    <div class="max-w-4xl mx-auto z-10 relative px-4 md:px-0">
        <h1 class="text-6xl">{name}</h1>
        <div class="text-orange-600 font-semibold mb-2 text-2xl">
            {position}
        </div>
        <div>{phone}</div>
        <div class="flex gap-2 mt-4">
            <a
                href={"mailto:" + email}
                target="_blank"
                rel="noopener noreferrer"
                class="bg-gray-200 py-1 px-2 flex items-center rounded-sm hover:bg-gray-300 transition duration-200 text-gray-700 text-sm font-medium"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-mail"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke="#2c3e50"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path d="M0 0h24v24H0z" stroke="none"></path><rect
                        x="3"
                        y="5"
                        width="18"
                        height="14"
                        rx="2"></rect><path d="m3 7 9 6 9-6"></path>
                </svg><span class="ml-2">Email</span>
            </a>
            <a
                href={linkedin}
                target="_blank"
                rel="noopener noreferrer"
                class="bg-gray-200 py-1 px-2 rounded-sm hover:bg-gray-300 transition duration-200 flex items-center text-gray-700 text-sm font-medium"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-brand-linkedin"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke="#2c3e50"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path d="M0 0h24v24H0z" stroke="none"></path><rect
                        x="4"
                        y="4"
                        width="16"
                        height="16"
                        rx="2"></rect><path
                        d="M8 11v5M8 8v.01M12 16v-5M16 16v-3a2 2 0 0 0-4 0"
                    ></path>
                </svg>
                <span class="ml-2">LinkedIn</span>
            </a>
        </div>
    </div>
</section>
