---
import { Image } from 'astro:assets';
import SectionTitle from "../components/SectionTitle.astro";
import TimelineItem from "../components/TimelineItem.astro";
import timelineImage from '../img/timeline.jpg';
---

<section class="max-w-4xl mx-auto mt-12 px-4 relative overflow-hidden py-8">
    <SectionTitle title="Our Story" />
    <div class="grid gap-6 row-gap-10 md:grid-cols-2">
        <div class="md:py-6 md:pr-16 text-gray-300 z-10">
            <TimelineItem
                title="2011"
                content="The partnership and founding of Breuer Herskowitz LLP were solidified with Moses David Breuer and Jason Herskowitz coming together. "
            />
            <TimelineItem
                title="2014"
                content="Dan Weinberger joined the team, enhancing the firm's legal services and client base."
            />
            <TimelineItem
                title="2023"
                content="The firm expanded further with the addition of Aaron Joel Tyberg and Joseph Pomerantz, demonstrating a sustained commitment to growth and excellence in legal services."
            />
            <div class="flex">
                <div class="flex flex-col items-center mr-4">
                    <div>
                        <div class="flex items-center justify-center w-10 h-10 rounded-full border-blue-600 border-2">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-6 text-slate-200"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                xmlns:dark="http://fake"
                                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M5 12l5 5l10 -10"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="pt-1">
                    <p class="mb-2  font-bold text-slate-300">Breuer Herskowitz LLP is set for future growth and innovation, adapting to the dynamic legal field and maintaining leadership in real estate law and estate planning with exceptional client service.</p>
                    <p class="text-gray-700"></p>
                </div>
            </div>
        </div>
        <div class="absolute md:relative top-0 left-0 w-full brightness-50 h-full">
            <Image src={timelineImage} alt="Breuer Herskowitz Timeline Image" class="pointer-events-none object-cover h-full"/>
        </div>
    </div>
</section>
